.Stats {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    /* margin-left: 2rem; */
    position: absolute;
    z-index: 1;
    background-color: white;
    margin-left: 46rem;
}

.healthBar {
    height: 20px;
    width: 150px;
    border: 2px solid red;
    margin: 1rem;
}

.healthBar .bar {
    height: 100%;
    background-color: red;
}

.wellnessBar {
    height: 20px;
    width: 150px;
    border: 2px solid green;
    margin: 1rem;
}

.wellnessBar .bar {
    height: 100%;
    background-color: green;
}

.anxietyBar {
    height: 20px;
    width: 150px;
    border: 2px solid lightskyblue;
    margin: 1rem;
}

.anxietyBar .bar {
    height: 100%;
    background-color: lightskyblue;
}